@font-face{
    font-family: WeLoveMom;
    src: url("./font/WeLoveMom.ttf");
    font-weight: bold;
}

body {
    background-image: linear-gradient(to bottom right, rgb(88, 243, 88, 0.5), rgb(248, 248, 27, 0.5));
    height: 100vh;
}

#title {
    font-family: WeLoveMom, fantasy;
    font-size: 70px;
    color: brown;
}

#left {
    margin: 10px;
}

#canvas{
    background-color: white;
    border: 5px solid black;
}

#right {
    margin: 10px;
}

table{
    width: 280px;
}

.myBtn:hover {
    background: rgb(185, 185, 185);
    color: rgb(54, 54, 54);
}

#func_label {
    font-family: fantasy;
    font-size: 16px;
    color: rgb(70, 0, 0);
    margin-left: 10px;
    margin-right: 5px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100px;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
}

.slider:hover {
    opacity: 1;
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    height: 18px;
    background: rgb(255, 174, 25);
    cursor: pointer;
}

.myBtn {
    width: 40px;
    height: 40px;
    line-height: 32px;
    background: #757575;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 10%;
    box-shadow: none;
    margin: 10px;		
}

#font-size {
    width: 3em;
    height: 1.5em;
}

#upload {
    display: none;
}
  
